 {
     "presets": [
         ["env", {
            "modules": false,
            "targets": {
                "uglify": true
            },
            "useBuiltIns": "entry"
        }],
        "react"
     ],
     "plugins": [
       "transform-decorators-legacy",
       "transform-object-rest-spread",
       "transform-class-properties"
     ]
 }
